@import '../sass/variables';

app-top-bar {
    width: 100%;
    height: 68px;
    background-color: lighten( $theme-color, 10% );
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

app-search-bar {
    background-color: lighten( $theme-color, 30% );
    margin: 0px;
    padding: 0px;
}
