@import '../sass/variables';

app-top-bar {
    background-color: lighten( $theme-color, 10% );
    margin: 0px;
    padding: 0px;
}

app-search-bar {
    background-color: lighten( $theme-color, 30% );
    margin: 0px;
    padding: 0px;
}
